* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__posts{
  display: flex;
  padding: 20px;
  justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}

.app__header{
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.app__heagerImage{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px){
  .app__posts{
    display: block;
  }
  .app__postsRight{
    margin-left: unset;
  }
}